.authorization-padding {
    margin: 5rem auto;
    width: 40%;
    border: 3px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: linear-gradient(to right, #ffffff, #fafafa);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


.request-h1 {
    margin-top: -20px;
    font-size: 1.5rem;
    color: rgb(78, 78, 78)
}

.button {
    background-color: rgb(221, 221, 221);
    color: gray;
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: rgb(255, 255, 255);
}

.form-border {
    width: 70%;
    border: 3px solid rgb(133, 133, 133);
    padding: 10px;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.form-border::placeholder {
    padding-left: 5px;
}

.input-name {
    padding-right: 310px;
    align-items:flex-start;
    font-size: 1.2rem;
    color:#707070;
}