.navigation-button {
    margin-left: 50px;
    margin-top: -3px;
    color: #808080;
    padding: 8px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.navigation-button:hover {
    border-radius: 5px;
    background-color: #cecece;
    color: #7e7e7e
}

.navigation-button:active {
    background-color: #81d1ff;
}
