@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.backgroundStyle {
  background-image: url(https://giga.chat/gigachat/files/public/generated/d1314555-f1f7-4099-baff-3320148d303b);
  background-size: 'cover';
  background-position: 'center';
  filter: 'blur(15px)';
  position: 'absolute';
  top: 132;
  left: 'auto';
  right: '12.5%';
  width: '75%';
  height: '350%';
  z-index: -1;
}